@page "/Static"
<h3>Static</h3>
<p>
    This is Static Blazor, you do not have to do anything by default
    blazor is static
</p>
<p>
    you will find out that the grid below loads fully at once! no loading
</p>

<p> open developer tools and check the webassembly and the websockets</p>

<p>for this to be successful both the WASM and WEBSOCKET are empty no interactions</p>

<p>You will find out that when you turn off the server no lock screen happens and you can't refresh the page'</p>

<Weather></Weather>
@code {

}
