@page "/StreamRendering"

@attribute [StreamRendering]
<h3>StreamRendering</h3>

<p>Stream Rendering attribute added into the page</p>

<p>you will findout the loading... shows then the table</p>

<p>the app will try its hardest to display as much as
    possible to the user then finish the
    rest of the processes that has delay or async</p>

<p>open dev tools and you will find some connections going on in websocket and network</p>

<p>this is a feature exclusive for blazor .net 8</p>

<Weather></Weather>
@code {

}
